{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center">Enlace Enviado</h2>
                    <p class="text-center">Revisa tu correo para el enlace de restablecimiento de contraseña.</p>
                </div>
                <div class="text-center mb-3">
                    <a href="{% url 'login' %}" class="btn btn-danger mt-3">Volver al inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
