{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <h2>Restablecer Contraseña</h2>
    <form method="POST">
        {% csrf_token %}
    <!-- Campo Nueva Contraseña -->
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">Nueva Contraseña</label>
            {{ form.new_password1|add_class:"form-control form-control-lg" }}
            <small class="form-text text-muted">
                La contraseña debe tener al menos 8 caracteres.
            </small>
        </div>

        <!-- Campo Confirmar Nueva Contraseña -->
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Confirmar Nueva Contraseña</label>
            {{ form.new_password2|add_class:"form-control form-control-lg" }}
            <small class="form-text text-muted">
                Vuelve a escribir la nueva contraseña.
            </small>
        </div>
        <button type="submit" class="btn btn-danger">Restablecer</button>
    </form>
</div>
{% endblock %}
