    {% load static %}
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Sistema de Asistencia{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <!-- Cargar jQuery desde una CDN antes de cualquier script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Sistema de Asistencia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container mt-5">
            {% block content %}{% endblock %}
        </div>
    
    
    
        <!-- Cargar Bootstrap JS -->
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
        <!-- Cargar tu archivo personalizado dinamic_place.js -->
        <script src="{% static 'js/dinamic_place.js' %}"></script>
    
        {% block extra_scripts %}{% endblock %}
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    
    </body>
    </html>
