{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Iniciar Sesión</h2>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-3">
                    <label for="id_document_id">Documento de Identidad</label>
                    {{ form.document_id }}
                </div>

                <div class="mb-3">
                    <label for="id_password">Contraseña</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-danger">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
