{% extends 'base.html' %}
{% load static %}
{% block title %}Tomar Asistencia{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <!-- Sección de la imagen al lado derecho -->
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'img/Eifa_logo.jpg' %}" class="img-fluid" alt="Logo de EIFA">
            </div>

            <!-- Sección de formulario para marcar asistencia -->
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="text-center">
                    <h2 class="mb-4">Marcar Asistencia</h2>
                    <p class="lead mb-4 justify-content-center align-items-center">
                        Bienvenido a la sección para marcar tu asistencia. Por favor, selecciona si deseas marcar tu asistencia como presencial o virtual, y ten en cuenta que <strong>solo puedes registrar tu asistencia una vez por día.</strong> Si ya has registrado tu asistencia hoy, no es necesario volver a hacerlo.
                    </p>
                </div>

                <form method="POST">
                    {% csrf_token %}

                    <!-- Mostrar errores si los hay -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <!-- Formulario de asistencia -->
                    {{ form.as_p }}

                    <!-- Botón de envío -->
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-outline-primary">Marcar Asistencia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
